<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippets">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Logger field and constructor</Title>
      <Shortcut>logger</Shortcut>
      <Description>Creates ILogger field and initializes it with LoggerCreator</Description>
      <Author>Alexey</Author>
    </Header>

    <Snippet>
      <Declarations>
        <Literal>
          <ID>className</ID>
          <ToolTip>Class name</ToolTip>
          <Default>ClassName</Default>
          <Function>ClassName()</Function>
        </Literal>
      </Declarations>

      <Code Language="csharp">
        <![CDATA[
        private readonly ILogger _logger;

        public $className$(LoggerCreator loggerCreator)
        {
            _logger = loggerCreator.For<$className$>(LogScope.Runtime);
        }
        ]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>