/.vs/UnityCommander
/source
/.output
/UnityCommander/.vs/UnityCommander
/UnityCommander/Business/UnityCommander.Business/bin/Debug/netcoreapp3.1
/UnityCommander/Business/UnityCommander.Business/obj
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/bin/Debug
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/obj
/UnityCommander/Modules/UnityCommander.Modules.ModuleName/bin/Debug/netcoreapp3.1
/UnityCommander/Modules/UnityCommander.Modules.ModuleName/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/bin/Debug
/UnityCommander/Services/UnityCommander.Services/bin/Debug/netstandard2.1
/UnityCommander/Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.DataProvider/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/bin/Debug/netstandard2.1
/UnityCommander/Services/UnityCommander.Services.Interfaces/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/obj
/UnityCommander/Tests/UnityCommander.Modules.ModuleName.Tests/obj
/UnityCommander/UnityCommander/.vs/UnityCommander/v16
/UnityCommander/UnityCommander/bin/Debug/netcoreapp3.1
/UnityCommander/UnityCommander/obj
/UnityCommander/UnityCommander.Core/bin/Debug/netcoreapp3.1
/UnityCommander/UnityCommander.Core/obj
/UnityCommander/Tests/UnityCommander.Core.Tests/bin/Debug/netcoreapp3.1
/UnityCommander/Tests/UnityCommander.Core.Tests/obj
/UnityCommander/Tests/UnityCommander.Modules.ModuleName.Tests/bin/Debug/netcoreapp3.1
/UnityCommander/Tests/UnityCommander.Core.NUnit.Tests/obj
/UnityCommander/Tests/UnityCommander.Core.NUnit.Tests/bin/Debug/netcoreapp3.1
/TestResults/3b56d826-7e49-43f6-b419-c738210ba044
/PSRunner
/UnityCommander.Test/bin/Debug/netcoreapp3.1
/UnityCommander.Test/obj
/UnityCommander.WinDepends/bin/Debug
/UnityCommander.WinDepends/obj/Debug
/src/System.EnterpriseServices
/src
/packages/NLog.4.7.4/lib
/packages/NLog.4.7.4
/packages/NLog.Config.4.7.4
/packages/NLog.Schema.4.7.4/content
/packages/NLog.Schema.4.7.4
/Labaratory.Works/bin/Debug
/Labaratory.Works/obj/Debug
/ClassLibrary2/obj
/ClassLibrary1
/ClassLibrary2
/Archives/PSRunner/.vscode
/Archives/PSRunner
/Archives/TDD/.vscode
/Archives/TDD/Modules/log
/Archives/TDD
/Lab/UnityCommander.WinDepends/bin/Debug
/Lab/UnityCommander.WinDepends/obj/Debug
/Lab/UnityCommander.Tests/obj/Debug
/Lab/UnityCommander.Tests/Properties
/Lab/UnityCommander.Test/bin/Debug/netcoreapp3.1
/Lab/UnityCommander.Test/obj
/Lab/Laboratory.Works/bin/Debug
/Lab/Laboratory.Works/obj/Debug
/Lab/Laboratory.Works/Properties
/Lab/UnityCommander.WinDepends/Properties
/packages
