/UnityCommander/Business/UnityCommander.Business/bin/Debug/netcoreapp3.1
/UnityCommander/Business/UnityCommander.Business/obj
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/bin/Debug
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/bin/Debug
/UnityCommander/Services/UnityCommander.Services/bin
/UnityCommander/Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/bin
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/bin
/UnityCommander/Services/UnityCommander.Services.Interfaces/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/bin
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/obj
/UnityCommander/Tests/UnityCommander.Modules.ModuleName.Tests/obj
/UnityCommander/UnityCommander/.vs
/UnityCommander/UnityCommander/bin
/UnityCommander/UnityCommander/obj
/UnityCommander/UnityCommander.Core/bin
/UnityCommander/UnityCommander.Core/obj
/UnityCommander/Tests/UnityCommander.Core.Tests/bin
/UnityCommander/Tests/UnityCommander.Core.Tests/obj
/UnityCommander/Tests/UnityCommander.Core.NUnit.Tests/obj
/UnityCommander/Tests/UnityCommander.Core.NUnit.Tests/bin
/TestResults
/PSRunner
/UnityCommander.Test/bin
/UnityCommander.Test/obj
/UnityCommander.WinDepends/bin/Debug
/UnityCommander.WinDepends/obj/Debug
/packages
/Labaratory.Works/bin/Debug
/Labaratory.Works/obj/Debug
/Archives/PSRunner/.vscode
/Archives/PSRunner
/Archives/TDD
/Lab/UnityCommander.WinDepends/bin/Debug
/Lab/UnityCommander.WinDepends/obj/Debug
/Lab/UnityCommander.Test/bin
/Lab/UnityCommander.Test/obj
/Lab/Laboratory.Works/bin
/Lab/Laboratory.Works/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider/bin
/UnityCommander/Services/UnityCommander.Services.DataProvider/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/bin
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/obj
/.vs/UnityCommander
/Lab/UnityCommander.Tests/obj/Debug
/Source
/UnityCommander/.vs/UnityCommander
/Lab/UnityCommander.WinDepends/bin/Release
/Lab/UnityCommander.WinDepends/obj/Release
/UnityCommander/UnityCommander.Native/obj
/UnityCommander/UnityCommander.Native/bin/Debug
