/.vs/UnityCommander
/source
/.output
/UnityCommander/.vs/UnityCommander
/UnityCommander/Business/UnityCommander.Business/bin/Debug/netcoreapp3.1
/UnityCommander/Business/UnityCommander.Business/obj
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/bin/Debug
/UnityCommander/Modules/UnityCommander.Modules.FilePanel/obj
/UnityCommander/Modules/UnityCommander.Modules.ModuleName/bin/Debug/netcoreapp3.1
/UnityCommander/Modules/UnityCommander.Modules.ModuleName/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/obj
/UnityCommander/Modules/UnityCommander.Modules.LeftSideBars/bin/Debug
/UnityCommander/Services/UnityCommander.Services/bin/Debug/netstandard2.1
/UnityCommander/Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services/UnityCommander.Services/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.DataProvider/obj
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.DataProvider.Interfaces/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/bin/Debug/netstandard2.1
/UnityCommander/Services/UnityCommander.Services.Interfaces/obj
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/bin/Debug/netcoreapp3.1
/UnityCommander/Services/UnityCommander.Services.Interfaces/UnityCommander.Services.Interfaces/obj
/UnityCommander/Tests/UnityCommander.Modules.ModuleName.Tests/obj
/UnityCommander/UnityCommander/.vs/UnityCommander/v16
/UnityCommander/UnityCommander/bin/Debug/netcoreapp3.1
/UnityCommander/UnityCommander/obj
/UnityCommander/UnityCommander.Core/bin/Debug/netcoreapp3.1
/UnityCommander/UnityCommander.Core/obj
