<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SidebarSettings" type="UnityCommander.ViewModels, MainWindowViewModel"/>
	</configSections>

	<appSettings>
		<add key="SidebarDisplayContent" value="False"/>
		<add key="SessionFiles" value="filePanelL.session,filePanelR.session"/>
		<add key="IsSessionSaved" value="False"/>
		<add key="RibbonVisibility" value="False"/>
	</appSettings>
</configuration>